body {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 200px;
    font-size: 1.25rem;
}

h5 {
    font-weight: 600;
}

#intro {
    padding-top: 0;
    margin-top: 0 !important;
}

#intro p {
    position: relative;
    margin-bottom: 2rem; /* Ajuste conforme necessário */
}

#intro p::after {
    content: "•"; /* Escolha seu separador: "•", "*", ".", "-", etc. */
    font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem; /* Ajuste para posicionar o separador */
    color: #000; /* Ajuste a cor conforme necessário */
}

#intro p:last-of-type::after {
    content: ""; /* Remove o separador após o último parágrafo */
}

.container {
    flex: 1;
}

.brand-logo {
    font-size: 2rem;
    font-weight: 700;
}

.article-thumbnail {
    height: 100px;
    object-fit: cover;
}

.article-image {
    width: 100%;
    height: auto;
}

.timeline {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ddd;
    left: 50%;
    margin-left: -1px;
}

.timeline-item {
    margin-bottom: 20px;
    position: relative;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background: #fff;
    border: 3px solid #007bff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    z-index: 1;
}

.timeline-item-content {
    padding: 20px;
    background: #f8f9fa;
    border-radius: 5px;
    position: relative;
    width: 45%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
}

.timeline-item-content.right {
    left: 55%;
}

.timeline-item-content.left {
    left: auto;
    text-align: right;
    flex-direction: row-reverse;
}

section {
    margin-top: 80px;
    padding-top: 80px;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.timeline-item-content .content {
    flex: 1;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item-content.left .icon-container {
    margin-left: 10px;
}

.timeline-item-content.right .icon-container {
    margin-right: 10px;
}

.icon-container img {
    width: 60px;
    height: 60px;
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 10px;
    }

    .timeline::before {
        display: none;
    }

    .timeline-item-content {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .timeline-item-content.left {
        flex-direction: column;
    }

    .timeline-item-content.right {
        left: 0;
    }
    
    .timeline-item-content.left .icon-container {
        flex-direction: row-reverse;
        width: 100%;
    }

    .icon-container {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
}